<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Online LMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>oracleConnectionString</param-name>
    <param-value></param-value>
  </context-param>
  <listener>
    <listener-class>online.lms.listeners.MyServletContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>online.lms.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>online.lms.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateUserServlet</servlet-name>
    <servlet-class>online.lms.config.CreateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUserServlet</servlet-name>
    <url-pattern>/CreateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateBookServlet</servlet-name>
    <servlet-class>online.lms.config.CreateBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateBookServlet</servlet-name>
    <url-pattern>/CreateBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateSerialServlet</servlet-name>
    <servlet-class>online.lms.config.CreateSerialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateSerialServlet</servlet-name>
    <url-pattern>/CreateSerialServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateFacultyServlet</servlet-name>
    <servlet-class>online.lms.config.CreateFacultyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateFacultyServlet</servlet-name>
    <url-pattern>/CreateFacultyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HeaderServlet</servlet-name>
    <servlet-class>online.lms.config.HeaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeaderServlet</servlet-name>
    <url-pattern>/HeaderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListUsersServlet</servlet-name>
    <servlet-class>online.lms.config.ListUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUsersServlet</servlet-name>
    <url-pattern>/ListUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListRegistrantsServlet</servlet-name>
    <servlet-class>online.lms.config.ListRegistrantsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListRegistrantsServlet</servlet-name>
    <url-pattern>/ListRegistrantsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListBooksServlet</servlet-name>
    <servlet-class>online.lms.config.ListBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListBooksServlet</servlet-name>
    <url-pattern>/ListBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListFacultiesServlet</servlet-name>
    <servlet-class>online.lms.config.ListFacultiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListFacultiesServlet</servlet-name>
    <url-pattern>/ListFacultiesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListAvailableBooksServlet</servlet-name>
    <servlet-class>online.lms.config.ListAvailableBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAvailableBooksServlet</servlet-name>
    <url-pattern>/ListAvailableBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListGrantedBooksServlet</servlet-name>
    <servlet-class>online.lms.config.ListGrantedBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListGrantedBooksServlet</servlet-name>
    <url-pattern>/ListGrantedBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListRequestsServlet</servlet-name>
    <servlet-class>online.lms.config.ListRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListRequestsServlet</servlet-name>
    <url-pattern>/ListRequestsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListFinesServlet</servlet-name>
    <servlet-class>online.lms.config.ListFinesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListFinesServlet</servlet-name>
    <url-pattern>/ListFinesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GrantBooksServlet</servlet-name>
    <servlet-class>online.lms.config.GrantBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GrantBooksServlet</servlet-name>
    <url-pattern>/GrantBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GrantRequestedBooksServlet</servlet-name>
    <servlet-class>online.lms.config.GrantRequestedBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GrantRequestedBooksServlet</servlet-name>
    <url-pattern>/GrantRequestedBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RenewGrantedBooksServlet</servlet-name>
    <servlet-class>online.lms.config.RenewGrantedBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RenewGrantedBooksServlet</servlet-name>
    <url-pattern>/RenewGrantedBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApproveRegistrantsServlet</servlet-name>
    <servlet-class>online.lms.config.ApproveRegistrantsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveRegistrantsServlet</servlet-name>
    <url-pattern>/ApproveRegistrantsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveRegistrantsServlet</servlet-name>
    <servlet-class>online.lms.config.RemoveRegistrantsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveRegistrantsServlet</servlet-name>
    <url-pattern>/RemoveRegistrantsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveUserServlet</servlet-name>
    <servlet-class>online.lms.config.RemoveUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveUserServlet</servlet-name>
    <url-pattern>/RemoveUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveBookServlet</servlet-name>
    <servlet-class>online.lms.config.RemoveBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveBookServlet</servlet-name>
    <url-pattern>/RemoveBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveFacultyServlet</servlet-name>
    <servlet-class>online.lms.config.RemoveFacultyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFacultyServlet</servlet-name>
    <url-pattern>/RemoveFacultyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveGrantedBookServlet</servlet-name>
    <servlet-class>online.lms.config.RemoveGrantedBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveGrantedBookServlet</servlet-name>
    <url-pattern>/RemoveGrantedBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveRequestsServlet</servlet-name>
    <servlet-class>online.lms.config.RemoveRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveRequestsServlet</servlet-name>
    <url-pattern>/RemoveRequestsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveFineServlet</servlet-name>
    <servlet-class>online.lms.config.RemoveFineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFineServlet</servlet-name>
    <url-pattern>/RemoveFineServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditUsersServlet</servlet-name>
    <servlet-class>online.lms.config.EditUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUsersServlet</servlet-name>
    <url-pattern>/EditUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditBooksServlet</servlet-name>
    <servlet-class>online.lms.config.EditBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditBooksServlet</servlet-name>
    <url-pattern>/EditBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditFacultyServlet</servlet-name>
    <servlet-class>online.lms.config.EditFacultyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditFacultyServlet</servlet-name>
    <url-pattern>/EditFacultyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostEditUsersServlet</servlet-name>
    <servlet-class>online.lms.config.PostEditUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostEditUsersServlet</servlet-name>
    <url-pattern>/PostEditUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostEditBooksServlet</servlet-name>
    <servlet-class>online.lms.config.PostEditBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostEditBooksServlet</servlet-name>
    <url-pattern>/PostEditBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PostEditFacultyServlet</servlet-name>
    <servlet-class>online.lms.config.PostEditFacultyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostEditFacultyServlet</servlet-name>
    <url-pattern>/PostEditFacultyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestBooksServlet</servlet-name>
    <servlet-class>online.lms.config.RequestBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestBooksServlet</servlet-name>
    <url-pattern>/RequestBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForgetPasswordServlet</servlet-name>
    <servlet-class>online.lms.config.ForgetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPasswordServlet</servlet-name>
    <url-pattern>/ForgetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SettingServlet</servlet-name>
    <servlet-class>online.lms.config.SettingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SettingServlet</servlet-name>
    <url-pattern>/SettingServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>EditCredentialServlet</servlet-name>
    <servlet-class>online.lms.config.EditCredentialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCredentialServlet</servlet-name>
    <url-pattern>/EditCredentialServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterForm</servlet-name>
    <jsp-file>/Serverpages/register.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterForm</servlet-name>
    <url-pattern>/RegisterForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginForm</servlet-name>
    <jsp-file>/Serverpages/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginForm</servlet-name>
    <url-pattern>/LoginForm</url-pattern>
  </servlet-mapping>
</web-app>